@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}


@layer components {
  .p-resp {
    @apply text-base lg:text-sm xl:text-base 2xl:text-xl;
  }
}
